@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("./css/satoshi.css");

@import "tailwindcss";

/* Set default font to Inter */
body {
  font-family: 'Inter', sans-serif;
}

/* Heading styles with Satoshi font */
h1, h2, h3, h4, h5, h6,
.text-heading {
  font-family: 'Satoshi-Regular', sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}